# Creating dictionary

In [2]:
# creating empty dictionary
cr = {}

# adding values to dictionary
cr['one'] = 1
cr["Two"] ='TWO'
cr[3] = 3
cr

{'one': 1, 'Two': 'TWO', 3: 3}

In [7]:
cr2= {'one': 1, 'Two': 'TWO', 3: 3}
print(cr2)

{'one': 1, 'Two': 'TWO', 3: 3}

In [4]:
cr2['one']

1

## del

In [8]:
del cr2['one']

cr2

{'Two': 'TWO', 3: 3}

## updating the values

In [9]:
cr2[3]=22
cr2

{'Two': 'TWO', 3: 22}

### arithmetic operation with dictionary

In [10]:
cr2[3]=22 -10
cr2

{'Two': 'TWO', 3: 12}

In [11]:
len(cr2)

2

In [13]:
cr3={'one':1, 'two':2, 'three':3}

cr3['total']= cr3['one'] + cr3['two'] + cr3['three']

cr3['total']

6

In [25]:
print( 1 in cr3)

False

In [26]:
print('one' in cr3)

True

## for loop will give unordered value of dic

In [17]:
for key in cr3.keys():
    print(key, 'is' , cr3[key])

one is 1
two is 2
three is 3
total is 6

In [18]:
keys = list(cr3.keys())
keys

['one', 'two', 'three', 'total']

In [21]:
value = list(cr3.values())
value

[1, 2, 3, 6]

In [19]:
items = list(cr3.items())
items

[('one', 1), ('two', 2), ('three', 3), ('total', 6)]

# Easy Dictionary Creation

In [1]:
kwargs = dict(histtype='stepfilled', alpha=0.3, normed=True, bins=40)
kwargs

{'histtype': 'stepfilled', 'alpha': 0.3, 'normed': True, 'bins': 40}

# to_dict
- from pandas library
- to convert dataframe to dict

In [2]:
import pandas as pd , numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
# %matplotlib inline

df = pd.read_csv('/Users/knight/Desktop/language/python/practice/Dataset/WA_Fn-UseC_-Telco-Customer-Churn.csv')

df.head(2).T

                                 0             1
customerID              7590-VHVEG    5575-GNVDE
gender                      Female          Male
SeniorCitizen                    0             0
Partner                        Yes            No
Dependents                      No            No
tenure                           1            34
PhoneService                    No           Yes
MultipleLines     No phone service            No
InternetService                DSL           DSL
OnlineSecurity                  No           Yes
OnlineBackup                   Yes            No
DeviceProtection                No           Yes
TechSupport                     No            No
StreamingTV                     No            No
StreamingMovies                 No            No
Contract            Month-to-month      One year
PaperlessBilling               Yes            No
PaymentMethod     Electronic check  Mailed check
MonthlyCharges               29.85         56.95
TotalCharges                 29.85        1889.5
Churn                           No            No

In [4]:
di = df.to_dict(orient='rows')
di[0]

{'customerID': '7590-VHVEG',
 'gender': 'Female',
 'SeniorCitizen': 0,
 'Partner': 'Yes',
 'Dependents': 'No',
 'tenure': 1,
 'PhoneService': 'No',
 'MultipleLines': 'No phone service',
 'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'No',
 'StreamingTV': 'No',
 'StreamingMovies': 'No',
 'Contract': 'Month-to-month',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Electronic check',
 'MonthlyCharges': 29.85,
 'TotalCharges': '29.85',
 'Churn': 'No'}

# Dictionary get()

**get()** Parameters<br>
**get()** method takes maximum of two parameters:<br>

key - key to be searched in the dictionary
value (optional) - Value to be returned if the key is not found. The default value is None.

In [3]:
person = {'name': 'Phill', 'age': 22}

print('Name: ', person.get('name'))
print('Age: ', person.get('age'))

Name:  Phill
Age:  22

In [2]:
# value is not provided
print('Salary: ', person.get('salary'))

# value is provided
print('Salary: ', person.get('salary', 0.0))

Salary:  None
Salary:  0.0

In [22]:
cr3={'one':1, 'two':2, 'three':3}

ans = cr3.get('one')//cr3.get('two')
ans

0

In [37]:
cr3.get('one')

cr3

{'one': 1, 'two': 2, 'three': 3}

In [24]:
counts  = dict()
# the clown ran after the car and the car ran into 
# the tent and the then fell down on the clown and
# the car
line = input('Enter a line of text:')

words = line.split()

print('Words:', words)

print('Counting...')

for word in words:
    counts[word] = counts.get(word,0) +1 # if word not in counts then 0+1 other wise +1 to exisitng count 
print('Counts',counts)

Enter a line of text: the clown ran after the car and the car ran into  the tent and the then fell down on the clown and the car

Words: ['the', 'clown', 'ran', 'after', 'the', 'car', 'and', 'the', 'car', 'ran', 'into', 'the', 'tent', 'and', 'the', 'then', 'fell', 'down', 'on', 'the', 'clown', 'and', 'the', 'car']
Counting...
Counts {'the': 7, 'clown': 2, 'ran': 2, 'after': 1, 'car': 3, 'and': 3, 'into': 1, 'tent': 1, 'then': 1, 'fell': 1, 'down': 1, 'on': 1}

In [8]:
f = open("go_get_it.txt")
print(f.read())

The clown ran after the car and the car ran into the tent and the then fell down on the clown and the car. And there were none

In [11]:
line = f.read()

for word in line:
    counts[word] = counts.get(word,0) +1
print('Counts',counts)

Counts {'the': 7, 'clown': 2, 'ran': 2, 'after': 1, 'car': 3, 'and': 3, 'into': 1, 'tent': 1, 'then': 1, 'fell': 1, 'down': 1, 'on': 1, ' ': 24, 't': 12, 'h': 8, 'e': 11, 'c': 5, 'l': 4, 'o': 5, 'w': 3, 'n': 12, 'r': 6, 'a': 9, 'f': 2, 'd': 4, 'i': 1}

In [38]:
sen = 'the clown ran after the car and the car ran into  the tent and the then fell down on the clown and the car'

empt_dict = {}

count = 0
for word in sen.split():
    
    if word not in empt_dict:
        empt_dict[word] = 1
        
    else:
        empt_dict[word] = empt_dict[word] + 1
print(empt_dict)

{'the': 7, 'clown': 2, 'ran': 2, 'after': 1, 'car': 3, 'and': 3, 'into': 1, 'tent': 1, 'then': 1, 'fell': 1, 'down': 1, 'on': 1}

In [40]:
def count_words(sentence):
    
    empt_dict = {}

    count = 0
    for word in sentence.split():

        if word not in empt_dict:
            empt_dict[word] = 1

        else:
            empt_dict[word] = empt_dict[word] + 1
    print(empt_dict)
    
count_words(sen)

{'the': 7, 'clown': 2, 'ran': 2, 'after': 1, 'car': 3, 'and': 3, 'into': 1, 'tent': 1, 'then': 1, 'fell': 1, 'down': 1, 'on': 1}

In [60]:
count = 0
for word in sen.split():
    count +=1
    if count >5:
        break
    print(word)

the
clown
ran
after
the

In [69]:
def counting_words(text):
    
    empt_dict = {}

    for word in text.split():
        empt_dict[word]  = empt_dict.get(word,0)+1
        
    return empt_dict

counting_words(sen)

{'the': 7,
 'clown': 2,
 'ran': 2,
 'after': 1,
 'car': 3,
 'and': 3,
 'into': 1,
 'tent': 1,
 'then': 1,
 'fell': 1,
 'down': 1,
 'on': 1}

# Creating Dictionary with for loop

In [1]:
emty_dict = {}
letter ='abc'
for number  in range(3):
    empty_dic=  letter[number] + str(number)
    print(empty_dic)

a0
b1
c2

In [2]:
letter ='abc'
print({letter[i]+ str(i)  for i in range(3)})

{'a0', 'c2', 'b1'}

In [ ]:
# 1. The dictionary Junior shows a schedule for a junior year semester.
# The key is the course name and the value is the number of credits.
# Find the total number of credits taken this semester and assign it to the variable credits.
# Do not hardcode this – use dictionary accumulation!

Junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}
credits = 0
for v in Junior.values():
    credits += v
    print(credits)
    
# 2. Create a dictionary, freq, that displays each character in string str1 as the key and its frequency as the value.

from collections import Counter

str1 = "peter piper picked a peck of pickled peppers"
freq = Counter(str1)

for i in str1:
    print(i, freq[i])
    
# 3. Provided is a string saved to the variable name s1.
# Create a dictionary named counts that contains each letter in s1 and the number of times it occurs.

s1 = "hello"

def char_frequency(s1):
    dict = {}
    for n in s1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict

counts = char_frequency(s1)
print(counts)

# 4. Create a dictionary, freq_words, that displays each word in string str1 as the key and its frequency as the value.

str1 = "I wish I wish with all my heart to fly with dragons in a land apart"

def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

freq_words = word_count(str1)
print(freq_words)

# 5. Create a dictionary called wrd_d from the string sent,
# so that the key is a word and the value is how many times you have seen that word.

sent = "Singing in the rain and playing in the rain are two entirely different situations but both can be good"

def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

wrd_d  = word_count(sent)
print(wrd_d)

# 6. Create the dictionary characters that shows each character from the string sally and its frequency.
# Then, find the most frequent letter based on the dictionary. Assign this letter to the variable best_char.

sally = "sally sells sea shells by the sea shore"
characters = {}
for i in sally:
    characters[i]=characters.get(i,0)+1
    
sorted(characters.items(), key=lambda x: x[1])
best_char = sorted(characters.items(), key=lambda x: x[1])[-1][0]

# 7. Do the same as above but now find the least frequent letter.
# Create the dictionary characters that shows each character from string sally and its frequency.
# Then, find the least frequent letter in the string and assign the letter to the variable worst_char.

sally = "sally sells sea shells by the sea shore and by the road"

characters = {}
for i in sally:
    characters[i]=characters.get(i,0)+1
    
sorted(characters.items(), key=lambda x: x[1])
worst_char = sorted(characters.items(), key=lambda x: x[1])[-13][0]

# 9. Create a dictionary called low_d that keeps track of all the characters in the string p
# and notes how many times each character was seen. Make sure that there are no repeats of characters as keys,
# such that “T” and “t” are both seen as a “t” for example.

import collections
p = p = "Summer is a great time to go outside. You have to be careful of the sun though because of the heat."
low_d  = collections.defaultdict(int)

for c in p:
    low_d[c] += 1
        
for c in sorted(low_d, key=low_d.get, reverse=True):
    if low_d[c] > 1:
        print('%s %d' % (c, low_d[c]))